.quantidade {
    border-radius: 4px 4px 4px 4px;
}

.footer {
	text-align: center;
    background: #232F3E;
	padding: 40px 0;
}

.copyright {
	position: absolute;
	display: inline;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	width: 250px;
	margin: 20px 0 0 40%;
<<<<<<< HEAD
}

p{
	color: black;
    size: 12pxs;
=======
>>>>>>> 9f9c1f59b85db9e2acab2d7ea2ed33411eb107f0
}